@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Pacifico:400&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Pacifico', handwriting;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #c21aff !important;
}
.bg-success {
  background-color: #f14902 !important;
}
.bg-info {
  background-color: #f6e7d8 !important;
}
.bg-warning {
  background-color: #ffe01a !important;
}
.bg-danger {
  background-color: #fffaeb !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #c21aff !important;
  border-color: #c21aff !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #9600cd !important;
  border-color: #9600cd !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9600cd !important;
  border-color: #9600cd !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #1c191a !important;
  border-color: #1c191a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #f6e7d8 !important;
  border-color: #f6e7d8 !important;
  color: #a86827 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #a86827 !important;
  background-color: #e8c19a !important;
  border-color: #e8c19a !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #a86827 !important;
  background-color: #e8c19a !important;
  border-color: #e8c19a !important;
}
.btn-success,
.btn-success:active {
  background-color: #f14902 !important;
  border-color: #f14902 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #a53201 !important;
  border-color: #a53201 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #a53201 !important;
  border-color: #a53201 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe01a !important;
  border-color: #ffe01a !important;
  color: #1a1600 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #1a1600 !important;
  background-color: #cdb100 !important;
  border-color: #cdb100 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1a1600 !important;
  background-color: #cdb100 !important;
  border-color: #cdb100 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fffaeb !important;
  border-color: #fffaeb !important;
  color: #ebb000 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ebb000 !important;
  background-color: #ffe79e !important;
  border-color: #ffe79e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ebb000 !important;
  background-color: #ffe79e !important;
  border-color: #ffe79e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #8300b3;
  color: #8300b3;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c21aff;
  border-color: #c21aff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c21aff !important;
  border-color: #c21aff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #1c191a;
  border-color: #1c191a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #1c191a !important;
  border-color: #1c191a !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #e3b485;
  color: #e3b485;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #a86827;
  background-color: #f6e7d8;
  border-color: #f6e7d8;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #a86827 !important;
  background-color: #f6e7d8 !important;
  border-color: #f6e7d8 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #8c2a01;
  color: #8c2a01;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f14902;
  border-color: #f14902;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f14902 !important;
  border-color: #f14902 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #b39b00;
  color: #b39b00;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #1a1600;
  background-color: #ffe01a;
  border-color: #ffe01a;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1a1600 !important;
  background-color: #ffe01a !important;
  border-color: #ffe01a !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #ffe085;
  color: #ffe085;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ebb000;
  background-color: #fffaeb;
  border-color: #fffaeb;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ebb000 !important;
  background-color: #fffaeb !important;
  border-color: #fffaeb !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #c21aff !important;
}
.text-secondary {
  color: #1c191a !important;
}
.text-success {
  color: #f14902 !important;
}
.text-info {
  color: #f6e7d8 !important;
}
.text-warning {
  color: #ffe01a !important;
}
.text-danger {
  color: #fffaeb !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #8300b3 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #8c2a01 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #e3b485 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b39b00 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #ffe085 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #f6e7d8;
}
.alert-warning {
  background-color: #ffe01a;
}
.alert-danger {
  background-color: #fffaeb;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c21aff;
  border-color: #c21aff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #c21aff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f8e6ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fed3c1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffce6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #c21aff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c21aff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c21aff;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c21aff;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c21aff;
  border-bottom-color: #c21aff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #c21aff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #1c191a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c21aff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s54aOmgTSh {
  background-image: url("../../../assets/images/2016-08-30-roman-drits-barnimages-005-compressor-2000x1334.jpg");
}
.cid-s54aOmgTSh .mbr-text,
.cid-s54aOmgTSh .mbr-section-btn {
  text-align: left;
}
.cid-s54aOmgTSh H1 {
  text-align: left;
  color: #4f4943;
}
.cid-s3KZ80nsAS .navbar {
  background: #fffaeb;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-s3KZ80nsAS .navbar-dropdown.bg-color.transparent.opened {
  background: #fffaeb;
}
.cid-s3KZ80nsAS a {
  font-style: normal;
}
.cid-s3KZ80nsAS .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-s3KZ80nsAS .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-s3KZ80nsAS .nav-item:focus,
.cid-s3KZ80nsAS .nav-link:focus {
  outline: none;
}
.cid-s3KZ80nsAS .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s3KZ80nsAS .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-s3KZ80nsAS .menu-logo {
  margin-right: auto;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s3KZ80nsAS .dropdown .dropdown-menu {
  background: #fffaeb;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-s3KZ80nsAS .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-s3KZ80nsAS .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s3KZ80nsAS .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s3KZ80nsAS .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-s3KZ80nsAS .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s3KZ80nsAS button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-s3KZ80nsAS button.navbar-toggler:focus {
  outline: none;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s3KZ80nsAS nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3KZ80nsAS nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s3KZ80nsAS nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s3KZ80nsAS nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3KZ80nsAS .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s3KZ80nsAS .collapsed .btn {
  display: -webkit-flex;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-s3KZ80nsAS .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s3KZ80nsAS .collapsed button.navbar-toggler {
  display: block;
}
.cid-s3KZ80nsAS .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-s3KZ80nsAS .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s3KZ80nsAS .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-s3KZ80nsAS .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s3KZ80nsAS .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s3KZ80nsAS .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-s3KZ80nsAS.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s3KZ80nsAS img {
    height: 3.8rem !important;
  }
  .cid-s3KZ80nsAS .btn {
    display: -webkit-flex;
  }
  .cid-s3KZ80nsAS button.navbar-toggler {
    display: block;
  }
  .cid-s3KZ80nsAS .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-s3KZ80nsAS .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s3KZ80nsAS .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing,
  .cid-s3KZ80nsAS .navbar-collapse.show {
    display: block !important;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing .navbar-nav,
  .cid-s3KZ80nsAS .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s3KZ80nsAS .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing .navbar-buttons,
  .cid-s3KZ80nsAS .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s3KZ80nsAS .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s3KZ80nsAS .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-s3KZ80nsAS .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s3KZ80nsAS .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s3KZ80nsAS .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-s3KZ80nsAS .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-s3KZ80nsAS .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-s3KZ80nsAS .nav-link:hover,
.cid-s3KZ80nsAS .dropdown-item:hover {
  color: #767676 !important;
}
.cid-s3L4XQwMP2 {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #f14902;
}
.cid-s3L4XQwMP2 .mbr-section-subtitle {
  color: #fffaeb;
}
.cid-s3L4XQwMP2 H2 {
  text-align: center;
  color: #fffaeb;
}
.cid-s3L5OXqHgZ {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #fffaeb;
}
.cid-s3L5OXqHgZ .mbr-section-subtitle {
  color: #767676;
}
.cid-s3L5OXqHgZ H2 {
  color: #232323;
}
.cid-s3L67U30iF {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fffaeb;
}
.cid-s3L67U30iF h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s3L67U30iF p {
  color: #767676;
  text-align: left;
}
.cid-s3L67U30iF .card-box {
  padding-top: 2rem;
}
.cid-s3L67U30iF .card-wrapper {
  height: 100%;
}
.cid-s3L67U30iF .card-title {
  color: #232323;
}
.cid-s3L67U30iF P {
  color: #767676;
  text-align: left;
}
.cid-s4dXD3Z3Rh {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #fffaeb;
}
.cid-s4oQwffVQt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1c191a;
}
.cid-s4oQwffVQt .line {
  background-color: #f9f295;
  color: #f9f295;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-s4oQwffVQt .section-text {
  padding: 2rem 0;
  color: #fffaeb;
}
.cid-s4oQwffVQt .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-s4oQwffVQt .inner-container {
    width: 100% !important;
  }
}
.cid-s3X8UG1f7j {
  padding-top: 60px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/2016-08-30-roman-drits-barnimages-006-compressor-2000x1334.jpg");
}
.cid-s3X8UG1f7j .mbr-section-subtitle {
  color: #4f4943;
  text-align: center;
  font-weight: 300;
}
.cid-s3X8UG1f7j .step {
  width: 32px;
  height: 32px;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid #4f4943;
  color: #4f4943;
}
.cid-s3X8UG1f7j .separline {
  position: relative;
}
.cid-s3X8UG1f7j .separline:after {
  top: 36px;
  left: 14px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (16px + 4px) * 2);
  background-color: #4f4943;
}
.cid-s3X8UG1f7j .mbr-section-title {
  color: #232323;
}
.cid-s3X8UG1f7j .mbr-step-text {
  color: #767676;
}
.cid-s3X8UG1f7j .mbr-step-title {
  color: #232323;
}
.cid-s4dJLJp1go {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fffaeb;
}
.cid-s4dJLJp1go .testimonial-text {
  font-style: italic;
  font-weight: 300;
  color: #232323;
  text-align: left;
}
.cid-s4dJLJp1go .mbr-author-name {
  font-weight: bold;
  color: #232323;
}
.cid-s4dJLJp1go .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-s4dJLJp1go .mbr-figure,
  .cid-s4dJLJp1go img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-s4dJLJp1go .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-s4dJLJp1go .mbr-author-desc {
  color: #232323;
}
.cid-s4dWORCu1n {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #fffaeb;
}
.cid-s3X12Z0PoY {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1c191a;
}
.cid-s3X12Z0PoY .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s3X12Z0PoY .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s3X12Z0PoY .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s3X12Z0PoY .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-s3X12Z0PoY .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-s3X12Z0PoY .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-s3X12Z0PoY .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s3X12Z0PoY .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-s3X12Z0PoY .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s3X12Z0PoY .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s3X12Z0PoY .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s3X12Z0PoY .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s3X12Z0PoY .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-s3X12Z0PoY .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-s3X12Z0PoY .media-container-row .mbr-text {
  color: #fffaeb;
}
.cid-s3KZ80nsAS .navbar {
  background: #fffaeb;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-s3KZ80nsAS .navbar-dropdown.bg-color.transparent.opened {
  background: #fffaeb;
}
.cid-s3KZ80nsAS a {
  font-style: normal;
}
.cid-s3KZ80nsAS .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-s3KZ80nsAS .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-s3KZ80nsAS .nav-item:focus,
.cid-s3KZ80nsAS .nav-link:focus {
  outline: none;
}
.cid-s3KZ80nsAS .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s3KZ80nsAS .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-s3KZ80nsAS .menu-logo {
  margin-right: auto;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s3KZ80nsAS .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s3KZ80nsAS .dropdown .dropdown-menu {
  background: #fffaeb;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-s3KZ80nsAS .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-s3KZ80nsAS .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s3KZ80nsAS .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s3KZ80nsAS .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-s3KZ80nsAS .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-s3KZ80nsAS .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s3KZ80nsAS .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s3KZ80nsAS button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-s3KZ80nsAS button.navbar-toggler:focus {
  outline: none;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s3KZ80nsAS button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s3KZ80nsAS nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3KZ80nsAS nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s3KZ80nsAS nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s3KZ80nsAS nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3KZ80nsAS .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s3KZ80nsAS .collapsed .btn {
  display: -webkit-flex;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-s3KZ80nsAS .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s3KZ80nsAS .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-s3KZ80nsAS .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s3KZ80nsAS .collapsed button.navbar-toggler {
  display: block;
}
.cid-s3KZ80nsAS .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-s3KZ80nsAS .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-s3KZ80nsAS .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-s3KZ80nsAS .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s3KZ80nsAS .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s3KZ80nsAS .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-s3KZ80nsAS.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s3KZ80nsAS img {
    height: 3.8rem !important;
  }
  .cid-s3KZ80nsAS .btn {
    display: -webkit-flex;
  }
  .cid-s3KZ80nsAS button.navbar-toggler {
    display: block;
  }
  .cid-s3KZ80nsAS .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-s3KZ80nsAS .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-s3KZ80nsAS .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing,
  .cid-s3KZ80nsAS .navbar-collapse.show {
    display: block !important;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing .navbar-nav,
  .cid-s3KZ80nsAS .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s3KZ80nsAS .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing .navbar-buttons,
  .cid-s3KZ80nsAS .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-s3KZ80nsAS .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s3KZ80nsAS .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s3KZ80nsAS .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-s3KZ80nsAS .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s3KZ80nsAS .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s3KZ80nsAS .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-s3KZ80nsAS .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-s3KZ80nsAS .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-s3KZ80nsAS .nav-link:hover,
.cid-s3KZ80nsAS .dropdown-item:hover {
  color: #767676 !important;
}
.cid-s4ob7a8Lcx {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ob7a8Lcx .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-s4ob7a8Lcx H2 {
  text-align: left;
}
.cid-s4ob7a8Lcx .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4obBptO1m {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-s4obBptO1m .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4obBptO1m H2 {
  text-align: left;
}
.cid-s4obBptO1m .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4obWqCp1h {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4obWqCp1h .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4obWqCp1h H2 {
  text-align: left;
}
.cid-s4obWqCp1h .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ocaykJeH {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ocaykJeH .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ocaykJeH H2 {
  text-align: left;
}
.cid-s4ocaykJeH .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ocNVYoks {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ocNVYoks .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ocNVYoks H2 {
  text-align: left;
}
.cid-s4ocNVYoks .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ocZiPBpd {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ocZiPBpd .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ocZiPBpd H2 {
  text-align: left;
}
.cid-s4ocZiPBpd .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4odhbkIjC {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4odhbkIjC .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4odhbkIjC H2 {
  text-align: left;
}
.cid-s4odhbkIjC .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4odoxdEGg {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4odoxdEGg .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4odoxdEGg H2 {
  text-align: left;
}
.cid-s4odoxdEGg .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4oewfqeuu {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4oewfqeuu .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4oewfqeuu H2 {
  text-align: left;
}
.cid-s4oewfqeuu .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ofep7tj0 {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ofep7tj0 .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ofep7tj0 H2 {
  text-align: left;
}
.cid-s4ofep7tj0 .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ofolre69 {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ofolre69 .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ofolre69 H2 {
  text-align: left;
}
.cid-s4ofolre69 .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ofAkkqaU {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ofAkkqaU .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ofAkkqaU H2 {
  text-align: left;
}
.cid-s4ofAkkqaU .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ogmLZHQL {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ogmLZHQL .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ogmLZHQL H2 {
  text-align: left;
}
.cid-s4ogmLZHQL .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ogBb2NWU {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ogBb2NWU .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ogBb2NWU H2 {
  text-align: left;
}
.cid-s4ogBb2NWU .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ogP62lYH {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ogP62lYH .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ogP62lYH H2 {
  text-align: left;
}
.cid-s4ogP62lYH .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ogWe22WU {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ogWe22WU .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ogWe22WU H2 {
  text-align: left;
}
.cid-s4ogWe22WU .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4oh6q4ldV {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4oh6q4ldV .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4oh6q4ldV H2 {
  text-align: left;
}
.cid-s4oh6q4ldV .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s4ohe2Xqsi {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-s4ohe2Xqsi .mbr-section-subtitle {
  color: #232323;
  text-align: left;
}
.cid-s4ohe2Xqsi H2 {
  text-align: left;
}
.cid-s4ohe2Xqsi .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-s3X12Z0PoY {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1c191a;
}
.cid-s3X12Z0PoY .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s3X12Z0PoY .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s3X12Z0PoY .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s3X12Z0PoY .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-s3X12Z0PoY .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-s3X12Z0PoY .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-s3X12Z0PoY .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s3X12Z0PoY .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-s3X12Z0PoY .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s3X12Z0PoY .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s3X12Z0PoY .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s3X12Z0PoY .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s3X12Z0PoY .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-s3X12Z0PoY .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-s3X12Z0PoY .media-container-row .mbr-text {
  color: #fffaeb;
}
